:root{
    --primary-color:linear-gradient(90deg, #020218 0%, #6095DB 61.14%, #9747FF 122.27%);
    --secondary-color: linear-gradient(85.14deg, #9747FF -90.07%, #6095DB 44.26%, #FFFFFF 178.58%);
    --light-text:rgba(75, 85, 99, 1);
    --morelight-text:#6B7280;
    --black: #000000;
    --gray:#D9D9D9;
    --white:#ffffff;
    --main-color:#6095DB;
    --purple-bg: #9747FF26;
    --yellow-bg: #DFD91F1F;
    --purple:#9747FF;
    --yellow:#DFD91F;
    --red:#E33629;
    --menu-hover: #6095dba5;






}